@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Space+Mono:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: "Space Mono", monospace;
  background-color: var(--color-dark-purple);
  background: linear-gradient(
    225deg,
    var(--color-dark-purple) 0%,
    var(--color-midnight) 100%
  );
  color: var(--color-white);
  overscroll-behavior-y: none;
}

:root {
  --color-light-purple: #8386f5;
  --color-dark-purple: #3d43b4;
  --color-midnight: #041348;
  --color-white: #ffffff;
  --color-dark-green: #083e12;
  --color-light-green: #1afe49;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Audiowide", cursive;
  color: var(--color-white);
}

a {
  color: var(--color-light-purple);
}

button,
a {
  cursor: pointer;
}

input {
  font-family: "Space Mono", monospace;
}
